* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Helvetica, Arial, sans-serif;
  }
  
  /* <header> style start */
  header {
    padding: 20px 35px;
    background-color: #696969;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
  }
  
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #696969;
  }

  header a {
    text-decoration: none;
    color: #add8e6;
    border-bottom: 3px solid #add8e6;
  }
  
  header nav {
    float: right;
    margin: 7px 0;
  }
  
  header nav ul li {
    display: inline;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 22px;
    color: #add8e6;
  }
  
  .name header h1{
      color: #696969;
  }

  /* <header> style end */
  
  /* <footer> style start */
  footer {
    background: #696969;
    width: 100%;
    padding: 40px 35px;
    color: #add8e6;
  }
  
  footer h2 {
    display: inline;
    font-size: 30px;
    margin: 0;
  }
  
  footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
  }

  section {
    justify-items: center;
    padding: 60px;
  }
  
  div {
      /* display: block; */
  }

.text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }

  /* Hero style start */
  .hero {
    background-image: url('../images/bg.jpeg');
    background-size: cover;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
  }
  
  .hero-subtitle {
}

  /* Hero style end */
  
  /* About Me style start */
.about {
  display: flex;
  width: 100%;
}

.about .section-title {
  width: 30%;
}

.about div{
  padding-left: 20px;
  height: 100%;
  width: 600px;
  display:inline-block;
  vertical-align: top;
  color: #696969;
}

.about, .section-title{
  height: 100%;
}
  /* About Me style end */
  

  /* Work style start */
.work {
  width: 100%;
  display: flex;
}

.work div{
  display: flex;
  color: #696969;
}

/* .sample-work-section{
  display: flex;
} */
.work .section-title {
  display: flex;
  width: 30%;
  height: 600px;
}

.work h2 {
  flex: 1;

}
.apps-container {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 600px;
}

.surf-report-sample-app{
  display: flex;
  flex-grow: .5;
  border: 3px solid #6082b6;
}

.second-sample-apps-row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-content: center;
  flex-grow: .5;
}

.third-sample-apps-row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-grow: .5;
}

.sample-project {
  display: flex;
  width: 100%;
  flex-direction: row;
  border: 3px solid #6082b6;
}

.app-info {
  margin-top: 110px;
  background-color: #6082b6;
  height: 50px;
}
  /* Work style end */


  /* Contact Me style start */

.contact {
  width: 100%;
  display: flex;
}

.contact .section-title {
  width: 30%;
}

.contact div {
  width: 600px;
  vertical-align: top;
  color: #696969;

}

.contact-info {
  padding-left: 20px;
  font-size: large;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  flex: 2;
  justify-content: space-between;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #6082b6;
  text-decoration-thickness: 3px;
}

/* Contact Me style end */
  
  .section-title {
    border-right: 3px solid #6082b6;
    padding-right: 20px;
    border-right: 3px solid #6082b6;
    text-align: right;
    justify-content: stretch;
    padding: 20px;
    width: 30%;
    align-items: flex-start;
  }

  .section-title h2 {
    line-height: 1.5;
  }

  .text-right {
    text-align: right;
  }

  .subtitle {

  }


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header h1 a {
    /* this will be applied on any screen smaller than 980px */
    color: tomato;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  header h1 {
    /* this will be applied on any screen between 768px and 575px */
    font-size: 80px;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  header h1 {
    /* this will be applied on any screen smaller than 575px */
    font-size: 100px;
  }
}